In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import os

In [2]:
data = os.chdir("C:\\Users\\SALEH ADAM\\Downloads\\Telegram Desktop")

In [3]:
data =pd.read_csv("data.random.csv")

In [4]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [5]:
data.shape

(569, 33)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [7]:
col_names = ["diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean", "smoothness_mean", "compactness_mean"] + ["column_name"] * 26
data.columns = col_names

In [8]:
data.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,column_name,column_name,column_name,...,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   diagnosis         569 non-null    int64
 1   radius_mean       569 non-null    object
 2   texture_mean      569 non-null    float64
 3   perimeter_mean    569 non-null    float64
 4   area_mean         569 non-null    float64
 5   smoothness_mean   569 non-null    float64
 6   compactness_mean  569 non-null    float64
 7   column_name       569 non-null    float64
 8   column_name       569 non-null    float64
 9   column_name       569 non-null    float64
 10  column_name       569 non-null    float64
 11  column_name       569 non-null    float64
 12  column_name       569 non-null    float64
 13  column_name       569 non-null    float64
 14  column_name       569 non-null    float64
 15  column_name       569 non-null    float64
 16  column_name       569 non-null    float64
 17  column_name       569 non-null    float64
 18  column_name       569 non-null    float64
 19  column_name       569 non-null    float64
 20  column_name       569 non-null    float64
 21  column_name       569 non-null    float64
 22  column_name       569 non-null    float64
 23  column_name       569 non-null    float64
 24  column_name       569 non-null    float64
 25  column_name       569 non-null    float64
 26  column_name       569 non-null    float64
 27  column_name       569 non-null    float64
 28  column_name       569 non-null    float64
 29  column_name       569 non-null    float64
 30  column_name       569 non-null    float64
 31  column_name       569 non-null    float64
 32  column_name       0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [10]:
for col in col_names:
  print(data[col].value_counts())

diagnosis
842302     1
90250      1
901315     1
9013579    1
9013594    1
          ..
873885     1
873843     1
873701     1
873593     1
92751      1
Name: count, Length: 569, dtype: int64
radius_mean
B    357
M    212
Name: count, dtype: int64
texture_mean
12.34    4
11.71    3
12.46    3
13.05    3
10.26    3
        ..
12.23    1
14.45    1
19.18    1
18.08    1
7.76     1
Name: count, Length: 456, dtype: int64
perimeter_mean
20.52    3
16.85    3
16.84    3
19.83    3
14.93    3
        ..
18.58    1
15.11    1
22.41    1
14.92    1
24.54    1
Name: count, Length: 479, dtype: int64
area_mean
82.61     3
87.76     3
134.70    3
93.97     2
82.69     2
         ..
127.50    1
90.63     1
82.53     1
100.40    1
47.92     1
Name: count, Length: 522, dtype: int64
smoothness_mean
512.2     3
1075.0    2
582.7     2
399.8     2
641.2     2
         ..
507.4     1
609.9     1
463.7     1
428.9     1
181.0     1
Name: count, Length: 539, dtype: int64
compactness_mean
0.10070    5
0.11500    4
0.10540    4
0.10750    4
0.10630    3
          ..
0.08876    1
0.09965    1
0.13230    1
0.08968    1
0.05263    1
Name: count, Length: 474, dtype: int64

ValueError: Grouper for 'column_name' not 1-dimensional

In [12]:
data["diagnosis"].value_counts()

diagnosis
842302     1
90250      1
901315     1
9013579    1
9013594    1
          ..
873885     1
873843     1
873701     1
873593     1
92751      1
Name: count, Length: 569, dtype: int64

In [13]:
data.isnull().sum()

diagnosis             0
radius_mean           0
texture_mean          0
perimeter_mean        0
area_mean             0
smoothness_mean       0
compactness_mean      0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name           0
column_name         569
dtype: int64

In [15]:
x = data.drop(["diagnosis"],axis=1)

In [17]:
y = data["diagnosis"]

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=42)

In [19]:
x_train.shape

(398, 32)

In [20]:
x_test.shape

(171, 32)

In [21]:
x_train.dtypes

radius_mean          object
texture_mean        float64
perimeter_mean      float64
area_mean           float64
smoothness_mean     float64
compactness_mean    float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
column_name         float64
dtype: object

In [22]:
x_train.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,column_name,column_name,column_name,column_name,...,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name
149,B,13.74,17.91,88.12,585.0,0.07944,0.06376,0.02881,0.01329,0.1473,...,22.46,97.19,725.9,0.09711,0.1824,0.1564,0.06019,0.2350,0.07014,NaN
124,B,13.37,16.39,86.10,553.5,0.07115,0.07325,0.08092,0.02800,0.1422,...,22.75,91.99,632.1,0.10250,0.2531,0.3308,0.08978,0.2048,0.07628,NaN
421,B,14.69,13.98,98.22,656.1,0.10310,0.18360,0.14500,0.06300,0.2086,...,18.34,114.10,809.2,0.13120,0.3635,0.3219,0.11080,0.2827,0.09208,NaN
195,B,12.91,16.33,82.53,516.4,0.07941,0.05366,0.03873,0.02377,0.1829,...,22.00,90.81,600.6,0.10970,0.1506,0.1764,0.08235,0.3024,0.06949,NaN
545,B,13.62,23.23,87.19,573.2,0.09246,0.06747,0.02974,0.02443,0.1664,...,29.09,97.58,729.8,0.12160,0.1517,0.1049,0.07174,0.2642,0.06953,NaN

In [ ]:
#pip install category-encoders
import category_encoders as ce

In [ ]:
encoder = ce.OrdinalEncoder(cols=["diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean", "smoothness_mean", "compactness_mean"])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [25]:
x_train.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,column_name,column_name,column_name,column_name,...,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name
149,B,13.74,17.91,88.12,585.0,0.07944,0.06376,0.02881,0.01329,0.1473,...,22.46,97.19,725.9,0.09711,0.1824,0.1564,0.06019,0.2350,0.07014,NaN
124,B,13.37,16.39,86.10,553.5,0.07115,0.07325,0.08092,0.02800,0.1422,...,22.75,91.99,632.1,0.10250,0.2531,0.3308,0.08978,0.2048,0.07628,NaN
421,B,14.69,13.98,98.22,656.1,0.10310,0.18360,0.14500,0.06300,0.2086,...,18.34,114.10,809.2,0.13120,0.3635,0.3219,0.11080,0.2827,0.09208,NaN
195,B,12.91,16.33,82.53,516.4,0.07941,0.05366,0.03873,0.02377,0.1829,...,22.00,90.81,600.6,0.10970,0.1506,0.1764,0.08235,0.3024,0.06949,NaN
545,B,13.62,23.23,87.19,573.2,0.09246,0.06747,0.02974,0.02443,0.1664,...,29.09,97.58,729.8,0.12160,0.1517,0.1049,0.07174,0.2642,0.06953,NaN

In [26]:
x_test.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,column_name,column_name,column_name,column_name,...,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name,column_name
204,B,12.47,18.60,81.09,481.9,0.09965,0.1058,0.08005,0.03821,0.1925,...,24.64,96.05,677.9,0.1426,0.2378,0.2671,0.10150,0.3014,0.08750,NaN
70,M,18.94,21.31,123.60,1130.0,0.09009,0.1029,0.10800,0.07951,0.1582,...,26.58,165.90,1866.0,0.1193,0.2336,0.2687,0.17890,0.2551,0.06589,NaN
131,M,15.46,19.48,101.70,748.9,0.10920,0.1223,0.14660,0.08087,0.1931,...,26.00,124.90,1156.0,0.1546,0.2394,0.3791,0.15140,0.2837,0.08019,NaN
431,B,12.40,17.68,81.47,467.8,0.10540,0.1316,0.07741,0.02799,0.1811,...,22.91,89.61,515.8,0.1450,0.2629,0.2403,0.07370,0.2556,0.09359,NaN
540,B,11.54,14.44,74.65,402.9,0.09984,0.1120,0.06737,0.02594,0.1818,...,19.68,78.78,457.8,0.1345,0.2118,0.1797,0.06918,0.2329,0.08134,NaN

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
print("Model Accuracy: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

In [ ]:
rfc_100 = RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with  100 decision tree: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))